WcfServices/federation/Services_Source/MyMultiFederationSample/Client/Service References/WeatherServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherChannel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherChannel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Forcast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherResult" nillable="true" type="tns:WeatherResult" />
</xs:schema>