WcfServices/HostingWcfService/Client/Service References/ServiceReference1/samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8000/samples" elementFormDefault="qualified" targetNamespace="http://localhost:8000/samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="echoString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="echoStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="echoStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>